<!-- Favicons  - see http://www.jonathantneal.com/blog/understand-the-favicon/ -->
    <!-- Place a favicon.ico with 16x16, 32x32 and 64x64 icons in your site’s root directory:
            * The 16x16px version is for most browsers which display an icon in the browser tab / URL bar;
            * The 32x32px version appears on pinned sites in IE9, Windows desktop shortcuts, and IE10’s touch mode URL bar - not essential, but worth adding if you have an IE audience in mind
            * The 64x64px version is for HiDPI.
            *Don’t link it in your markup, browsers that support will pick it up automatically -->
    
    <link rel="icon" href="favicon.png"> <!-- a 16x16 PNG version of your favicon; this is a fix for certain browsers that misread an .ico file with 32x32 icon inside it -->
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]--> <!-- An IE (9 and older)-specific link to the .ico in your root, just to be safe -->

    <!-- Apple touch icons - should cover all iOS and most Android; see http://mathiasbynens.be/notes/touch-icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png"> <!-- Retina iPad - 144x144px app icon -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png"> <!-- Retina iPhone - 114x114px app icon -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png"> <!-- 1st/2nd gen iPad - 72x72px app icon-->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"> <!-- Non-retina iPhone, iPod and Android 2.1+ - 57x57px app icon -->
    <!-- the "-precomposed" bit tells iOS not to add a reflective shine to your icon - you can remove this from the rel if you prefer -->

    <!-- Set pinned tile for Windows 8 -->
    <meta name="msapplication-TileColor" content="rgb(0,0,0)"> <!-- Defines the colour of a site’s tile when it gets pinned to Windows 8 Start screen - takes most colour types, including HEX and CSS3 rgb -->
    <meta name="msapplication-TileImage" content="ms-tile-icon.png"> <!-- a 144x144px icon with transparent background to accompany your Windows 8 pinned tile -->
