<!-- Open Graph protocol - these are tags which help social media sites define your content; see http://ogp.me -->
        <meta property="og:title" content="Page title" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="short one or two sentence description of page" />
        <meta property="og:url" content="http://page-url.com" />
        <meta property="og:image" content="image.jpg" />
        <!-- feel free to add more if needed, or just remove them if you prefer -->
